@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-noto-sans-kr);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer components {
  * {
    @apply text-[#101010];
  }
}